ultralytics==8.0.225
opencv-python==4.8.1.78
numpy==1.24.3
pytesseract==0.3.10
scikit-image==0.21.0
imutils==0.5.4
Pillow==9.5.0
supervision==0.16.0
deep_sort_realtime==1.3.2
#SQLite3>=3.0.0
torch==2.0.1
torchvision==0.15.2
pandas==2.0.3 